{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}
    {{ post.title|truncatewords:5 }}::{{ block.super }}
{% endblock %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <div class="logo">
                                        <ul>
                                            <a href="{% url 'updatepost' post.slug %}">Update post</a> | <a
                                                href="{% url 'deletepost' post.slug %}">Delete post</a>
                                        </ul>
                                    </div>
                                    <h2>{{ post.title }}</h2>

                                    <div class="for-style">
                                        <div>
                                            <span>
                                                Category:
                                                <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                                            </span>
                                            <br>
                                            {% if post.tags.exists %}
                                                <span>
                                                Tags:
                                                    {% for tag in post.tags.all %}
                                                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }},</a>

                                                    {% endfor %}
                                                </span>
                                                <br>
                                            {% endif %}
                                            <span>Views: {{ post.views }}</span>
                                        </div>
                                        {{ post.content | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="newsletter">
                                <h2 class="sidebar-title">Search</h2>
                                <form action="{% url 'search' %}" method="get">
                                    <input type="text" name="search" id="" placeholder="Search...">
                                    <input type="submit" value="Search">
                                </form>
                            </div>

                            {% get_popular 5 %}

                            {% get_tags %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
