{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}
    {{ post.title|truncatewords:5 }}::{{ block.super }}
{% endblock %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <h2>{{ post.title }}</h2>
                                    <div class="for-style">
                                        <div>
                                            <span>
                                                Category:
                                                <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                                            </span>
                                            <br>
                                            {% if post.tags.exists %}
                                                <span>
                                                Tags:
                                                    {% for tag in post.tags.all %}
                                                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }},</a>

                                                    {% endfor %}
                                                </span>
                                                <br>
                                            {% endif %}
                                            <span>Views: {{ post.views }}</span>
                                        </div>
                                        {{ post.content | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            {% get_popular%}

                            <div class="tags">
                                <h2 class="sidebar-title">Tags</h2>
                                <p><a href="#">Adventure</a></p>
                                <p><a href="#">Animals</a></p>
                                <p><a href="#">Asia</a></p>
                                <p><a href="#">Beauty</a></p>
                                <p><a href="#">Canada</a></p>
                                <p><a href="#">Celebration</a></p>
                                <p><a href="#">City</a></p>
                                <p><a href="#">Coffee</a></p>
                                <p><a href="#">Constructions</a></p>
                                <p><a href="#">Europe</a></p>
                                <p><a href="#">Adventure</a></p>
                                <p><a href="#">Animals</a></p>
                                <p><a href="#">Asia</a></p>
                                <p><a href="#">Beauty</a></p>
                                <p><a href="#">Canada</a></p>
                                <p><a href="#">Celebration</a></p>
                                <p><a href="#">City</a></p>
                                <p><a href="#">Coffee</a></p>
                                <p><a href="#">Constructions</a></p>
                                <p><a href="#">Europe</a></p>
                                <p><a href="#">Adventure</a></p>
                                <p><a href="#">Animals</a></p>
                                <p><a href="#">Asia</a></p>
                                <p><a href="#">Beauty</a></p>
                                <p><a href="#">Canada</a></p>
                            </div>
                            <div class="newsletter">
                                <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
                                <form action="#" method="post">
                                    <input type="email" name="" id="" placeholder="Email">
                                    <input type="submit" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
