{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}
    {{ post.title|truncatewords:5 }}::{{ block.super }}
{% endblock %}



{% block content %}
    <form action="{% url 'post_delete'  post.created_at.year post.created_at.month post.created_at.day post.slug%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ post.title }}"?</p>
        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
    </form>
{% endblock %}

