{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}
    {{ post.title|truncatewords:5 }}::{{ block.super }}
{% endblock %}

{% block content %}
    <h2 class="alert-info">Update post '{{ post.title }}'</h2>
    <form action="{% url 'post_update'  post.created_at.year post.created_at.month post.created_at.day post.slug%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Update</button>
    </form>
{% endblock %}

