{% load menu %}
<header class="header">
    <div class="container">
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                {{ user }} | <a href="{% url 'logout' %}">Logout</a>

            {% else %}
                <a href="{% url 'register' %}">Register</a>|<a href="{% url 'login' %}">Login</a>
            {% endif %}

      </span>
        <div class="row">
            <div class="col-md-10">
                <div class="menu">
                    {% if request.user.is_authenticated %}
                        <div class="logo">
                            <ul>
                                <a href="{% url 'post_add' %}">Add post</a>
                            </ul>
                            <h2>
                                <a href="{% url 'home' %}">HOME</a>
                            </h2>
                        </div>
                    {% else %}
                        <div class="logo">
                            <h2>
                                <a href="{% url 'home' %}">HOME</a>
                            </h2>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-10">
                {% show_menu %}
            </div>
        </div>
    </div>
</header>